<div role="tabpanel" class="tab-pane" id="systemgoals">
                      
         <div class="cg-tip"><AnsiFormat @text={{model.custom.goals_blurb}} /></div>
         <br>
         <p> <b>Character Goals:</b> </p>
         <MarkdownEditor @text={{model.char.goals}} />
  </div>

<div role="tabpanel" class="tab-pane" id="special">
                      
         <div class="cg-tip"><AnsiFormat @text={{model.cgInfo.special_blurb}} /></div>
         <br>
         <p> <b>Marque Status (%):</b> </p>
         <Input @type="integer" @size={{25}} @value={{model.char.marque}} />
         <br>
         <br>
         <p> <b>Scion Power:</b> </p>
         <Input @type="text" @size={{25}} @value={{model.char.scion}} />
  </div>
