{{title model.char.name}}

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#general">General</a></li>
        <li><a data-toggle="tab" href="#profile">Profile</a></li>
        <li><a data-toggle="tab" href="#relationships">Relationships</a></li>
        <li><a data-toggle="tab" href="#hooks">RP Hooks</a></li>
        <li><a data-toggle="tab" href="#descs">Descriptions</a></li>
        <li><a data-toggle="tab" href="#goals">Goals</a></li>
        <li><a data-toggle="tab" href="#files">Files</a></li>
        <CharEditCustomTabs @char={{model}} />
    </ul>
    
    

    <div class="tab-content">

      <CharEditGeneral @model={{model}} />
      <CharEditProfile @model={{model}} />
      <CharEditRelationships @model={{model}} />
      <CharEditDescs @model={{model}} />
      

      <div id="hooks" class="tab-pane fade in">
          <MarkdownEditor @text={{model.char.rp_hooks}} />
        </div>
        
       <CharEditCustom @char={{model.char}} @updateCallback={{customUpdateCallback}} />
       
     
       <div id="goals" class="tab-pane fade in">
         {{markdown-editor text=model.goals}}
       </div>
       <div id="files" class="tab-pane fade in">
           <div class="cg-tip">Files for your character page need to be in a folder matching your character's name.  They will show up in the gallery and profile image selection lists.  See [Icons](/help/icons) for tips on sizing your profile image.</div>
            <hr>
        
            <div>
            {{#each model.char.files as |file|}}
            
            <div class="thumbnail-gallery">
            <LinkTo @route="file" @models={{array file.folder file.name}}>
            {{file.path}} <img src="/game/uploads/{{file.path}}" alt="{{file.name}}" class="thumbnail">
            </LinkTo>
            </div>
            {{/each}}
            </div>
            <div class="clearfix"/>
        
      <CharEditFiles @model={{model}} />
    </div>
        
    
   
    
    <div class="row">
        <div class="col col-xs-12">
            <div class="pull-right">
    
                <p> <LinkTo @route="char" @model={{model.char.name}} class="btn btn-default">Cancel</LinkTo>  
                    <button class="btn btn-primary" {{action 'save'}} >Save</button>
                </p>
    
            </div>
        <FlashMessages />
        </div>
    </div>


{{outlet}}